<%- include('header') %>  

    <section class="section">
        <h1 class="title"><%= title %></h1>
        <p>Description: <%= description %></p>
        <p>Size: <%= width %> x <%= height %></p>
        <img src='/files/<%= name %>' width=<%=  width %> height=<%= height %>></img>
    </section>

<%- include('footer') %>  
