<%- include('header') %>  

    <section class="section">
        <h1 class="title"><%= title %></h1>
            <p class="subtitle">
            Images stored in RSK Testnet Blockchain
            </p>
        <ul>
        <% for (n in imagesdata) { 
            const imagedata = imagesdata[n]; %>
            <li>
                <a href='/images/<%= n %>'><%= imagedata.title %> (<%= imagedata.width %> x <%= imagedata.height %>)</a>
            </li>
        <% } %>    
        </ul>
    </section>

<%- include('footer') %>  
