<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    <% for (n in imagesdata) { 
        const imagedata = imagesdata[n]; %>
        <li>
            <a href='/images/<%= n %>'><%= imagedata.title %> (<%= imagedata.width %> x <%= imagedata.height %>)</a>
        </li>
    <% } %>    
    </ul>
  </body>
</html>
